{% block sidebar %}

<style>
  .card {
    box-shadow: 0 16px 48px #6a6a6b;
  }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
  <div class="card my-4">
    <h5 class="card-header">About</h5>
    <div class="card-body">
      <p class="card-text"> HI, MY NAME IS Anna. </br>
        And Symphony is my little corner of the internet!</br>
        I'm the voice, author, and creator behind Synphony. </br>
        My favorite things in life are a big plate of fruits, sunny days, and going to the dog park. </p>
      <a href="" class="btn btn-danger">Visit My Channel!</a>
      <a href=" class="btn btn-secondary">SSSniperwolf</a>
    </div>
  </div>
</div>

{% endblock sidebar %}