{% block sidebar %}

<style>
  .card {
    box-shadow: 0 16px 48px #6a6a6b;
  }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
  <div class="card my-4">
    <h5 class="card-header">About Me</h5>
    <div class="card-body">
      <p class="card-text"> HI, My name is Ravindi. </br>
        🍒Cherries and Wines🥂 is my little corner of the internet!</br>
        I'm the voice, author, and creator behind </br> 🍒Cherries and Wines🥂. </br>
        My favorite things in life are a big plate of fruits, sunny days, and going to the dog park.</br>
        Welcome Again! Let's make some fun </p></br>
      <a href="https://www.linkedin.com/in/ravindi-kumarasinghe-093708196/" class="btn btn-warning">Visit My LinkedIn!</a></br>

    </div>
  </div>
</div>

{% endblock sidebar %}